### 파이썬 프로젝트를 위한 .gitignore 파일 ###

# 가상 환경 
venv/

# SQLite 데이터베이스  
*.db
sql_app.db

# 파이썬 캐시 파일 (실행하면 자동으로 생성됨)
__pycache__/
*.pyc

# 비밀번호 저장 등
.env



### React 프로젝트를 위한 .gitignore 파일 ###

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env